:root {
    --fontFamily: 'Lato', sans-serif;
    --bodyBackground: #1E2D3B;
    --headerBackground: #2E3A46;
    --spanColor: #797E7A;
}

html {
    font-size: 100%;
    font-family: var(--fontFamily);
}

body {
    height: 100vh;
    background-color: var(--bodyBackground) !important;
}

header {
    background-color: var(--headerBackground);
}
img {
    height: 55px;
}

main .container-60 {
    width: 60%;
    margin: auto;
}

.container-60 .col {
    padding: 0.5em 1em;
}

.spotify-card {
    background-color: var(--headerBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.spotify-card img {
    width: 100%;
    height: 60%;
}

.spotify-card .title {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-align: center;
}
.spotify-card .subtitle, .spotify-card .year {
    color: var(--spanColor);
}

.footer {
    background-color: var(--headerBackground);
    color: var(--spanColor);
    padding: 1em 0;
}